@model ProjetoHortFrut.MVC.ViewModels.UsuarioViewModel
@if (ViewBag.erros != null)
{
    <div class="row">
        <div class="col s12">
            <h6>@ViewBag.erros</h6>
        </div>
    </div>
}
<div class="row divErroNaOperacao">
    <div class="col s12">
        <h6 class="erroOperacao"></h6>
    </div>
</div>
<div class="row divSucessoNaOperacao">
    <div class="col s12">
        <h6 class="sucessoOperacao"></h6>
    </div>
</div>
<h5>Cadastro de Usuário</h5>
<div class="row">
    <div class="col s12">
        <hr />
        @using (Ajax.BeginForm("PostUsuario", "Usuarios", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "sucesso()",
            OnFailure = "erro(xhr)",
            OnBegin = "progresso",
            OnComplete = "fim"
        }))
        {
            <div class="row">
                <div class="col s4">
                    <label for="clienteiD" class="col s12">Cliente</label>
                    @Html.DropDownListFor(u => u.clienteId, new SelectList(ViewBag.clientes, "Id", "nome"), new { @class = "col s12" })
                </div>
            </div>

            <div class="row">
                <div class="col s4">
                    <label for="nome" class="col s12">Usuário</label>
                    @Html.TextBoxFor(u => u.nome, new { @class = "col s12" })
                </div>
                <div class="col s4">
                    <label for="senha" class="col s12">Senha</label>
                    @Html.TextBoxFor(u => u.senha, new { @class = "col s12", type = "password" })
                </div>
                <div class="col s4">
                    <label for="nome" class="col s12">Confirme sua Senha</label>
                    <input type="password" class="col s12" name="conf_senha" />
                </div>
            </div>

                <div class="row">
                    <button class="btn waves-effect waves-light right" type="submit" name="CadastraUsuario">
                        Cadastrar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
        }
    </div>
</div>
<script>
    function sucesso() {
        $("#nome").val("");
        $("#senha").val("");
        $("#conf_senha").val("");
        $(".divErroNaOperacao").hide();
        $(".divSucessoNaOperacao").fadeIn(3000);
        $(".sucessoOperacao").html("<i class='tiny material-icons'>check_circle</i> Usuário cadastrado com Sucesso!");
    }
    function erro(xhr) {
        $(".divSucessoNaOperacao").hide();
        $(".divErroNaOperacao").fadeIn(3000);
        $(".erroOperacao").html("<i class='tiny material-icons'>error</i>Ops! algo deu errado. " + xhr.responseText);
    }
    $(document).ready(function () {
        $(".container").addClass("diminuicao50");
    });
</script>

