@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="menuPrincipal">
    <div class="row">
        <div class="col s6">
            <a href="/Operacoes/Deposito" class="waves-effect waves-light btn-large #42a5f5 blue lighten-1">
                <i class="material-icons left">account_balance_wallet</i>Depósito
            </a>
        </div>
        <div class="col s6">
            <a href="/Operacoes/Saldo" class="waves-effect waves-light btn-large #42a5f5 blue lighten-1">
                <i class="material-icons left">account_balance</i>Saldo
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <a href="/Operacoes/Saque" class="waves-effect waves-light btn-large #42a5f5 blue lighten-1">
                <i class="material-icons left">monetization_on</i>Saque
            </a>
        </div>
        <div class="col s6">
            <a href="/Operacoes/Transferencia" class="waves-effect waves-light btn-large #42a5f5 blue lighten-1">
                <i class="material-icons left medium-small">swap_horiz</i>Transf.
            </a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".container").removeClass("container80");
        $(".container").addClass("widthContainerMenuPrincipal");
    })
</script>